<li class="card">
    <div class="card-inner">
        <h2>
            <%= link_to paper.title, paper.link, rel: "nofollow" %>
        </h2>
        <h3><%= link_to paper.authors %>, <%= paper.affiliations %></h3>

        <div class="card-section">
            <h4>Molecular targets</h4>
            <p>
                <%= paper.target %>
            </p>
        </div>

        <div class="card-section">
            <h4>Key Findings</h4>
            <%= simple_format paper.key_finding %>
        </div>
        <div class="card-section">
            <h4>Context</h4>
            <%= simple_format paper.context %>
        </div>
    </div>
</li>
